/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require image-picker.css
 */


body {
    background-color: #70B2FF;
    padding-top: 50px;
}

.container {
    width: 80%;
    height: auto;
    margin: auto;
    background-color: white;
    margin-top: 0;
}

.content {
    width:90%;
    margin:auto;
    margin-top: 2em;
}

.list-group-item {
    border-radius: 0 !important;
    border-left:0;
    border-right: 0;
}

.panel {
    border:0;
    border-color: #ffffff;
}

.form-control {
    width: 20%;
}

.field_with_errors {
    @extend .has-error;
}

html {
    overflow-y: scroll;
}

.card {
    background-color: #f4f4f4;
    margin: 1.5em;
    padding: 0.5em;
    text-align: center;
}

.card a:hover {
    text-decoration: none;
}

#activity_image {
}

#activity_content {
}

#activity_wrapper {
}





