/* Style reset*/

html, body, div, span, applet, object, iframe, h1, h2, h3, 
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, 
samp, small, strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0; padding: 0; border: 0; outline: 0; 
font-size: 100%; vertical-align: baseline; 
background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }

/*Application specific*/

body {
	background-color:#efefef;
	font-family: "Arial";
}

a {
	text-decoration: none;
}
a:link, a:visited {
	color: black;
}

.title-top {
	text-align: center;
	width: 30%;
	margin: auto;
	margin-bottom: 20px;

}

.title-top a {
	font-size: 2em;
}

#nav-top {
	width: 23%;
	margin: auto;
}

#nav-top li {
	display: inline-block; 
	padding: 10px;
	background-color: #ffc45e;
	border: 2px solid #dfdfdf;
}

#menu-top {
	margin-bottom: 15px;
}

#col-left {
	width: 10%;	
	float: left;
	padding: 10px;
}

#col-left a {
	display: block;
	border-bottom: 2px solid #efefef;
	margin-top: 5px;
}

#menu-title {
	background-color: #efefef;
	text-align: center;
	font-weight: bold;
}

#col-center {
	width: 70%;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

#col-right {
	width: 16%;
	float: right;
}

#footer {
	width: 70%;
	margin: auto;
}

.footer-menu {
	display: inline-block;
}

img {
	width: 90%;
	height: 90%;
	border-radius: 10px;
}

.orange-box {
	background-color: #ffc45e;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
}

.blue-box {
	background-color: #3b73db;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
}

.hotel-review, .previous-reviews {
	background-color: #efefef;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}

.previous-reviews {
	font-weight: bold;
	text-align: center;
}

h3 {
	margin-top: 5px;
	margin-bottom: 15px;
}

